.navbar{
    display: flex;
    flex-direction: column;
    height: 20vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.App{
    background-color:grey;
}
#imgid{
    margin-top: 20px;
    width: 60vw;
    height:70vh
}
.img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}
*{
    margin: 0;
    padding: 0;
}